#resume{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 121, 255);
}
a{
    cursor: pointer;
    text-decoration: none;
    
}
button:hover{
    cursor: pointer;
}
h3{
    background-color: rgba(0, 27, 146, 0.822);
    border-radius:10px;
    color: azure;
}

li{
    list-style-type:none;
    font-size: 16px;
    height: 80%;
    margin:2px;
    background-color: rgb(79, 191, 255);
    border-radius: 10px;
    border: 2px solid rgb(0, 41, 129);
    padding: 0.5%;
    word-wrap: break-word;
}

#top{
    display:flex;
    width:98%;
    margin:1%;
    height:20%;
    background-color: rgb(164, 223, 255);
    border-radius: 20px 20px 0 0;
    border:2px solid blue;
    vertical-align: middle;
    align-items: center;

}
#topmid{
    width:15%;
    height:40%;
    background-image:linear-gradient(red,orange,yellow,green,blue,indigo,violet) ;
    border-radius: 50%;
    margin: 1%;
    padding: 0.2%;
    align-items: center;
    align-content: center;
    vertical-align: middle;

}
#topmid img{
    width:100%;
    height: 40%;
    border-radius: 50%;
}
#topmid:hover{
    width:40%;
    height: 40%;
    border-radius: 50%;

}
#topright{
    width:53%;
    height:100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    border-right:2px solid blue;
    border-left:2px solid blue;
}
#topleft{
    width:30%;
    height:100%;
    vertical-align: middle;
    text-align: center;
}
#topleft button{
    width:25%;
    height:40%;
    border-radius: 30px;
    border-color: azure;
    margin:1%;
    font-size: medium;
    padding: 1%;
    box-shadow: 5px 3px 3px rgb(0, 58, 205);
}
#topleft button:hover{
    width:30%;
    height:50%;
}
#topleft img{
    width:30%;
    height:98%;
    border-radius: 50%;
    vertical-align: middle;
    border:3px solid white;
    
}
#bottom{
    display:flex;
    width:98%;
    margin:1%;
    height:80%;
    background-color: rgb(0, 119, 255);
}
#bottomleft,#bottomright{
    
    width:48%;
    height:80%;
    padding: 1%;
    background-color: rgb(231, 242, 255);
    border:2px solid blue;
    
    align-items: center;
    align-content: center;
}
#bottomright{
border-radius: 0px 0px 20px 0px ;
}
#bottomleft{
    border-radius: 0px 0px 0px 20px ;
}
/* #site,#linkedinpreview,#Githubpreview{
    display:none;
    width: 20vw;
    height: fit-content;
    transition: display 2s;
    cursor:pointer;
}
 #WebsiteB:hover + #site,#linkedinB:hover + #linkedinpreview,#GithubB:hover + #Githubpreview{
    display:inline-block;
}  */
#project,#certificate,#achievement,#Edu{
    width:100%;
    height:100%;
    margin:1%;
    padding:1%;
}
#projecttab:hover,#certificatetab:hover,#achievementstab:hover,#Edutab:hover,#topright:hover{
    background-color: rgba(54, 255, 154, 0.575);
    border:2px solid rgb(0, 0, 0);
    border-radius: 10px;
    
}
#project img,#certificate img, #achievement img,#Edu img{
    width:20vw;
    height:15vw;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(255, 244, 31);
    
}
#projecttab, #certificatetab, #achievementstab,#Edutab{
    text-align: center;
    
}
#project:hover, #certificate:hover,#achievement:hover,#Edu:hover{
    cursor:pointer;
}
#projectcontent, #Certificatecontent, #achievementcontent,#EduContent{
    display:none;
    color: rgb(0, 0, 0);
}

#projectVideo ,#DCVideo{
    align-self: center;
    border-radius: 10px;
    margin:0.75%;
    border:solid 2px red;
    width:98%;
    height:25vw;
} 
#Certificatecontent img,#achievementcontent img{
    align-self: center;
    border-radius: 10px;
    margin:0.75%;
    border:solid 2px red;
    width:98%;
    height:100%;
}
@media screen and (max-width:1000px) {
    body{
        font-size: 8px;
    }
    #topleft button{
        font-size: 7px;
        width:75%;
        height:40%;
    }
    #topleft button: hover {
        font-size: 7px;
        width:75%;
        height:40%;
    }
    #h3{
         font-size:8px;
     }
     #h2{
         font-size:9px;
     }
     #h1{
         font-size:10px;
     }


}
