#resume{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(136, 213, 255);
}
a{
    cursor: pointer;
    text-decoration: none;
}
button:hover{
    cursor: pointer;
}
h3{
    background-color: aqua;
}
li{
    list-style-type:none;
    font-size: large;
    height: 100%;
}

#top{
    display:flex;
    width:98%;
    margin:1%;
    height:20%;
    background-color: rgb(0, 166, 255);
    border-radius: 20px 20px 0 0;
    border:2px solid blue;
    vertical-align: middle;
    align-items: center;

}
#topmid{
    width:20%;
    height:40%;
    background-color: rgba(0, 75, 215, 0.812);
    border-right:2px solid blue;
    border-left:2px solid blue;
    border-radius: 10%;
    margin: 1%;
    

}
#topmid img{
    width:100%;
    height: 40%;
    border-radius: 50%;

}
#topright{
    width:38%;
    height:100%;
    text-align: center;
    color: aliceblue;
    font-feature-settings: "c2sc";
    
}
#topleft{
    width:38%;
    height:100%;
    vertical-align: middle;
    text-align: center;
}
#topleft button{
    width:40%;
    height:90%;
    border-radius: 30px;
    border-color: azure;
    margin:1%;
    font-size: medium;
    padding: 1%;
}
#topleft img{
    width:30%;
    height:98%;
    border-radius: 50%;
    vertical-align: middle;
    border:3px solid white;
    margin: 1%;
}
#bottom{
    display:flex;
    width:98%;
    margin:1%;
    height:80%;
    background-color: rgb(0, 119, 255);
}
#bottomleft,#bottomright{
    
    width:48%;
    
    height:80%;
    padding: 1%;
    background-color: rgb(60, 151, 255);
    border-right:2px solid blue;
    align-items: center;
    align-content: center;
}

#projecttab, #certificatetab{
    text-align: center;
}
#projectcontent, #Certificatecontent{
    display:none;
    color: aliceblue;
}
#projectVideo, embed{
    
    border-radius: 1%;
    border:solid 2px red;
    width:100%;
    height:100%;
}